{# numbers.twig #}
<div class="page-container {{ page ? 'lmk-next-page' : 'lmk-first-page' }}">
    <ul>
        {% for number in data %}
            <li class="blue">{{ number }}</li>
        {% endfor %}
    </ul>
</div>
