{# hello-world.twig #}

<style>
    .hello  {
        color:red;
    }
</style>
<div class="page-container {{ page ? 'lmk-next-page' : 'lmk-first-page' }}">
    <p class="hello">hello world</p>
</div>
